language: rust

rust:
    - nightly
    - beta

notifications:
    irc: "irc.mozilla.org#piston-internals"

os:
    - linux
    - osx

install:
    - sudo apt-get install libXxf86vm-dev libosmesa6-dev

script:
    - cargo build --verbose
    - cargo test --verbose
    - cargo doc --verbose

after_success:
    - curl http://docs.piston.rs/travis-doc-upload.sh | sh
